# ========== .NET ==========
bin/
obj/
.vs/

# ========== React / Node ==========
node_modules/
build/
dist/

# ========== Environment ==========
.env
appsettings.Development.json

# ========== OS ==========
.DS_Store
Thumbs.db
