name: .NET CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore ./ConsulationAppBackend/ConsulationAplication.sln

    - name: Build solution
      run: dotnet build ./ConsulationAppBackend/ConsulationAplication.sln --no-restore --configuration Release

    - name: Run tests
      run: dotnet test ./ConsulationAppBackend/TestConsultationApplication.Tests/TestConsultationApplication.Tests.csproj --no-build --configuration Release
